extend ../app/shared/layout

block main-content
    .navbar.navbar-default.navbar-fixed-top
        .navbar-header
            .navbar-text MEAN Template
        .navbar-text.pull-right
            button.btn.btn-default(ng-controller="LoginCtrl",ng-hide="!isAuthenticated()",ng-click="logout()") Logout
    section.content
        div(ng-view)
    .footer
        .container
            span squirrel