body {
  padding-top: 80px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20x;
}
h6 {
  color: #ccc;
}
.footer {
  padding-left: 15px;
  bottom: 0;
  height: 25px;
  position: absolute;
  width: 100%;
  padding-right: 15px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  text-align: center;
  vertical-align: middle;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.invalid-login {
  height: 10px;
  width: 100%;
  vertical-align: top;
}
.jumbotron-actions {
  height: 375px;
}
