.container(id='main-content', name='main-content')
    .container-fluid
        .row-fluid
            .col-md-6.pull-left
                .jumbotron.jumbotron-actions
                    div(ng-include="'/partials/account/signup/signup'")
            .col-md-6.pull-right
                .jumbotron.jumbotron-actions
                    div(ng-include="'/partials/account/login/login'")